$body-bg: #333;
$body-fg: lighten($body-bg, 60%);

$primary: #0073dd;

$header-bg: darken($body-bg, 8%);
$header-fg: lighten($header-bg, 2%);

$footer-bg: $header-bg;
$footer-fg: lighten($footer-bg, 23%);
