$body-bg: #333;
$body-fg: lighten($body-bg, 60%);

$primary: #1d61dd;

$header-bg: darken($body-bg, 5%);
$header-fg: lighten($header-bg, 20%);

$footer-bg: $header-bg;
$footer-fg: lighten($footer-bg, 23%);
