@import "colors";
#loader {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#loader .circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 10px solid rgba($primary, .45);
  border-top-color: $primary;

  animation: loading 0.8s cubic-bezier(0.8, 0.6, 0.2, 0.6) infinite;
}

#loader .message {
  padding-top: 1em;
}

@keyframes loading {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}
