.videos__container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.video {
  display: inline-block;
  margin: .5em;
  width: 200px;
}

.video__thumbnail {
  display: block;
  max-width: 100%;
}

.videos__name {
  display: inline-block;
}

.pagination__container {
  text-align: center;
}
