.in-front-tag__container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.in-front-tag {
  display: inline-block;
  margin: .5em;
}

.in-front-tag__thumbnail {
  display: block;
  width: 200px;
}

.in-front-tag__name {
  display: inline-block;
}
