@import "colors";

.tags__container {
  background-color: lighten($footer-bg, 8%);
}

.tags {
  padding: 1em;
  column-count: 15;
  border-color: lighten($footer-bg, 5%);
  border-width: 2px 0;
  border-style: solid;

  &:not(:last-child) {
    border-bottom: 0;
  }

  @media(max-width: 1920px) {
    column-count: 8;
  }

  @media(max-width: 1440px) {
    column-count: 6;
  }

  @media (max-width: 768px) {
    column-count: 4;
  }

  @media(max-width: 640px) {
    column-count: 3;
  }
}

.tags__title {

}

.tags__list {
  font-size: 1.3rem;
}
