@import "node_modules/bootstrap/dist/css/bootstrap-reboot.min";
@import "colors";

html {
  font-size: 62.5%;
}

body {
  background-color: $body-bg;
  color: $body-fg;
  font-size: 1.6rem;
}

body, #app {
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
}

#page-content {
  flex: 1;
}
